body, h1, h2, h3, h4, h5, h6, ul, ol, form {
  margin: 0;
  padding: 0;
}
textarea, input {
  margin: 0
}
a, a:visited {
  color: #5090d0;
}
a:hover {
  color: #3070a0;
}
h1 a, h2 a {
  text-decoration:none;
}
h1 {
  font-size:1.5em;
  margin-bottom:.6em;
}
h2 {
  font-size:1.1em;
  font-variant:small-caps;
  margin-bottom:.3em;
}
.weight-1 a {
  font-size:.75em;
  color:#85b5f0;
}
.weight-2 a {
  font-size:.9em;
  color:#77a7ea;
}
.weight-3 a {
  font-size:1.05em;
  color:#6797da;
}
.weight-4 a {
  font-size:1.2em;
  color:#5a89ce;
}
.weight-5 a {
  font-size:1.35em;
  color:#507fc4;
}
.weight-6 a {
  font-size:1.5em;
  color:#4475b9;
}

ul.field-errors {
  list-style:none outside;
  margin-top:-2px;
  overflow: hidden;
}

.field-errors li {
  float:left;
  background:#aa0000;
  color:#fff;
  font-size:.7em;
  padding:2px 4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

fieldset dd, fieldset dt {
  clear:both;
}

fieldset dd {
  margin:0 0 16px;
  overflow:hidden;
}

fieldset {
  border:0;
}

body {
  font: 16px Trebuchet, Tahoma, Arial, sans-serif;
  color:#555;
}

#header, #content, #footer {
  width: 800px;
  margin: 0 auto;
  overflow:hidden;
}

#header {
  padding-bottom:8px;
  border-bottom:1px solid #ccc;
  margin-bottom:16px;
}

#header ul {
  list-style: none outside;
  text-align:center;
}

#header li {
  display:inline;
  margin: 4px;
  border-radius:4px;
}

#header li a {
  padding: 4px 8px;
}

#header h1 {
  margin-top:.5em;
  text-align:center;
  font-size:1.8em;
}

#recent-questions li {
  margin-bottom:8px;
}

#found-questions li {
  margin-bottom:8px;
}
#question li {
  margin-bottom:16px
}
#question header {
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.body {
  font-size: 1.2em;
}
.answer {
  font-size: 1.2em;
  margin-top: 8px;
  padding-top: 8px;
}
.published, .author {
  font-size:.7em;
  color:#777;
}
.tags {
  padding-top: 4px;
  margin-top: 4px;
}
.tag {
  margin: 4px, 4px;
  display: inline;
  font-size: 0.9em;
}
.tag a {
  text-decoration: none;
}
#footer {
  border-top: 1px solid #ccc;
  margin-top:8px;
  padding-top:8px;
}

#footer address {
  float:left;
  font-size:.75em;
  color:#777;
  font-style:normal;
}

#footer #search {
  float:right;
}

#showedTags {
  border:1px solid #ccc;
  background:#fffff0;
  overflow:hidden;
  width:300px;
  min-height:100px;
  list-style: none;
  padding:0;
  font-size:0.75em;
}

#showedTags li {
  float:left;
  margin:4px;
  background-color: #c7da76;
  padding:4px;
  overflow:hidden;
  -webkit-box-shadow:1px 1px 1px #aaa;
  border-radius:16px;
}

#showedTags li a {
  color:#aaa;
  background:#fff;
  -webkit-box-shadow:1px 1px 1px #aaa;
  border-radius:16px;
  padding:0 4px;
  font-size:12px;
  line-height:12px;
  text-decoration:none;
}